.meeting
  display: block
  margin: auto
  padding: 20px
  h1
    font-family: "Roboto"
  h2
    font-family: "Roboto"
    font-size: 14pt
    font-weight: lighter
    color: grey
  .field-line
    margin: 0px !important
  .sections
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    .section
      border: 2px solid black
