.dictation
  display: block
  padding: 20px
  margin: 10px auto
  h1
    font-family: "Roboto"
  h2
    font-family: "Roboto"
    font-size: 14pt
    font-weight: lighter
    color: grey
  .field-line
    margin: 0px !important
  .sections
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    .section
      width: 33%
      padding: 10px
      .field-line
        font-size: 10pt
  .navButtons
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    margin-top: 15px
.meeting
  display: block
  padding: 20px
  width: 50%
  margin: 10px auto
