.repository
  display: flex
  flex-direction: row
  flex: 1 1 auto
  height: 100%
  .meetingList
    overflow-y: scroll
    width: 30%
    height: 55vh
  .displayContainer
    width: 100%
  h5
    font-family: 'Roboto'
    font-weight: lighter
    color: grey
    font-size: 20pt
    padding: 10px
.searchC
  width: 80vw
  margin: 2vh 10vw 0vh 10vw
  .dateDiv
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    p
      margin: 0px 10px
  .searchCriteria
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
